---
import astroLogo from "../assets/astro.svg";
import background from "../assets/background.svg";
---
<footer>
  <p>© 2010 - 2025 / Joel Guerrero</p>
  <a href="https://github.com/alexpate/www">View Source</a>
</footer>
<style>
  @import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
  footer {
    margin-left: 375px;
    font-family: "Space Mono", serif;
    font-style: normal;
    color: gray;
    display: flex;
    width: 700px;
    margin-top: 20px;
    font-size: 12px;
  }
  footer a{
    text-decoration: none;
    color: gray;
    margin-left: 300px;
  }

</style>
