---
import astroLogo from "../assets/astro.svg";
import background from "../assets/background.svg";
---

<h2>Recent Writing</h2>

<style>
    h2 {
        font-family: 'Onest', sans-serif;
        color: #000;
        margin-left: 375px;
        font-weight: 600;
    }
    
</style>